.root{
 -fx-background-color: #2f3c7e;
 -fx-font-size: 10pt;
}

#taskList{
    -fx-background-color: #FBEAEB;
}


#descriptionField .content{
    -fx-background-color: #FBEAEB;
}

#editButton{
     -fx-background-color: linear-gradient(#ff5400, #ba1e14);
            -fx-background-radius: 30;
            -fx-background-insets: 0;
            -fx-text-fill: white;
            -fx-text-weight: bold;
            -fx-text-size: 30;

}

#editButton:selected{
   -fx-background-color: linear-gradient(#993200, #360401);
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button{
    -fx-background-color: linear-gradient(#ff5400, #ba1e14);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill: white;
        -fx-text-weight: bold;
        -fx-text-size: 30;
}

.button:hover{
     -fx-pref-height: 32px;
      -fx-pref-width: 32px;
}

.label
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.menu-bar{
    -fx-background-color: #0a085e;
}

.menu-item{
    -fx-background-color: #0a085e;
}

.menu-item:focused {
     -fx-background-color: #969A9F;
}

.tree-cell{
    -fx-background-color: #FBEAEB;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}

.text-area{
    -fx-background-color: #FBEAEB;
}